/**
!/.gitignore
!/index.php
!/.editorconfig
!/.env.sample
!/.eslintignore
!/.eslintrc.js
!/.phpcs.xml
!/.prettierrc.js
!/.stylelintrc
!/buddy.yml
!/babel.config.js
!/composer.json
!/gulpfile.js
!/package.json
!/phpstorm-html.xml
!/phpstorm-php.xml
!/postcss.config.js
!/README.md
!/webpack.config.js
!/composer.lock
!/package-lock.json
!/private-registry
!/private-registry/*

!/themes
!/themes/index.php
!/themes/theme
!/themes/theme/**
/themes/theme/bundle
/themes/theme/assets/*.css
!/themes/theme/assets/normalize.css
/themes/theme/assets/common.js.map
/themes/theme/assets/common.js.LICENSE.txt
/themes/theme/assets/*.css.map
/themes/theme/assets/*.js
/themes/theme/inc/patterns/**/*.css
/themes/theme/inc/patterns/**/*.LICENSE.txt
/themes/theme/inc/patterns/**/*.css.map
/themes/theme/inc/patterns/**/*.js.map
/themes/theme/inc/patterns/**/*.js
!/themes/theme/inc/patterns/**/index.js

!/plugins
!/plugins/index.php
!/plugins/plugin
!/plugins/plugin/**
/plugins/plugin/app/blocks/dist

.DS_Store
